<!--
Anthony Scinocco, Alex Andriishyn, Dan Masci, David Yu
incident-management.azurewebsites.net
November 23, 2015
footer partial view
-->


		<div class="clear-float"></div>

		<footer class="footer">

		</footer>

		<!--Scripts for bootstrap and JQuery-->
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</body>
</html>
