<!--
Anthony Scinocco, Alex Andriishyn, Dan Masci, David Yu
incident-management.azurewebsites.net
November 23, 2015
footer partial view
-->
<div class="clear-float"></div>
<footer class="section">
	<div class="container">
		<a class="home" href="/">Home</a>
	</div><!-- container -->
	<div class="copyright">
		<div class="container">
			<p class="" id="copyright">Copyright &copy; 2015 MasciApps. All Rights Reserved.</p>
			<p class="" id="author">Website by Dan Masci</p>
		</div><!-- container -->
	</div><!--div.copyright-->
</footer><!-- footer -->
<!-- Javascript / JQuery files -->
<script src="../../js/jquery.min.js"></script>
<script src="../../js/moby.js"></script> <!-- See style.less comment (NOT MINE) -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
<script src="../../js/main.js"></script>
</body>
</html>
