<!--
Anthony Scinocco, Alex Andriishyn, Dan Masci, David Yu
incident-management.azurewebsites.net
November 23, 2015
footer partial view
-->


		<div class="clear-float"></div>

		<footer class="footer">

		</footer>
		
	</body>
</html>
