<%- include ../partials/header.ejs %>

<section>
    <div class="container">
        <h1><%= title %></h1>

        <form method="post" action="/incident/add">
            <fieldset class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description" placeholder="description" required></textarea>
            </fieldset>
            <fieldset class="form-group">
                <label for="priority">Priority</label>
                <select class="form-control" id="priority" name="priority">
                    <option value="1">1 (Low)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (High)</option>
                </select>
            </fieldset>
            <fieldset class="form-group">
                <div class="checkbox">
                    <input type="checkbox" name="isUrgent" id="isUrgent"> Is this ticket urgent?
                </div>
            </fieldset>
            <button type="submit" class="btn btn-primary">Submit Ticket</button>
        </form>

    </div>
</section>

<%- include ../partials/footer.ejs %>