<!--
Authors : Anthony Scinocco, Alex Andriishyn, Dan Masci, David Yu
Website : incident-management.azurewebsites.net
Last Updated : November 23, 2015 by Dan

File: header.ejs
Description : This is our common header that will be displayed on every page. It
			  contains appropriate links to our User Dashboard and Incident Dashboard.
			  It also allows for users to Login, Register and Logout accordingly. 
-->


<!DOCTYPE html>
<html>

    <head>
    	<meta charset="UTF-8">
        <title><%= title; %></title>

		<!-- Css/JS/Jquery -->
		<!-- bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
		<!-- font-awesome -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

		<!-- Custom CSS -->
		<link rel="stylesheet" href="/css/style.css">

 	</head>

    <body>

	    <header>
			<div class="container">

				<div class="logo">
					<img src="/images/company-logo.png">
				</div><!-- logo -->
				<ul class="menu">
					<% if(user) { %>
					    <li><a href="/logout">Logout</a></li>
					    <li><a class="dashboard-nav">Dashboard</a>
					    	<ul class="sub-menu">
					    		<li><a href="/incident">Incidents</a></li>
					    		<li><a href="/users">Users</a></li>
					    		<div class="exit"><i class="fa fa-times"></i></div>
					    	</ul>
				    	</li>
					<% } else { %>
					    <li><a href="/login">Login</a></li>
					    <li><a href="/register">Register</a></li>
					<% } %>
				    <div class="clear-float"></div>
				</ul><!-- menu -->

			</div><!-- container -->
	    </header>
