<!--
Anthony Scinocco, Alex Andriishyn, Dan Masci, David Yu
incident-management.azurewebsites.net
November 23, 2015
header partial view
-->


<!DOCTYPE html>
<html>

    <head>
    	<meta charset="UTF-8">
        <title><%= title; %></title>
		
		<!-- Css/JS/Jquery -->
		<!-- bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
		<!-- font-awesome -->
		<link red="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">	

		<!-- Custom CSS -->	
		<link rel="stylesheet" href="/css/style.css">

 	</head>

    <body>

	    <header>
	
			<%- include navbar %>

	    </header>				    