<!--<section data-ng-controller="UsersController" data-ng-init="find()">
  <h2>Users list</h2>
  <ul>
    <li data-ng-repeat="user in users">
      <a data-ng-href="#!/users/{{user._id}}" data-ng-bind="user.username"></a>
      <span data-ng-bind="user.firstName"></span>
      <span data-ng-bind="user.lastName"></span>
      <span data-ng-bind="user.email"></span>
    </li>
  </ul>
</section>-->

<main class="container" data-ng-controller="UsersController" data-ng-init="find()">
  <h1>Users</h1>
  <div class="panel panel-default">
    <div class="panel-body table-responsive">
      <table class="table table-bordered table-striped table-hover" >
        <thead>
        <tr>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th></th>
        </tr>
        </thead>
        </tbody >
        <tr data-ng-repeat="user in users">
          <td>
            {{user.username}}
          </td>
          <td>
            {{user.firstName}}
          </td>
          <td>
            {{user.lastName}}
          </td>
          <td>
            {{user.email}}
          </td>
          <td>
            <a href="/userslist#!/{{user._id}}" title="Edit" >
              <button type="button" class="btn btn-primary">Edit</button>
              <i class="fa fa-pencil-square-o"></i>
            </a>
            <a href="/userslist#!/{{user._id}}" title="Delete"  ng-really-message="Are you sure?" data-ng-click="delete();" >
              <button type="button" class="btn btn-danger">Delete</button>
              <i class="fa fa-trash-o"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div> <!-- panel-body -->
  </div><!-- panel panel-default -->

</main>