
<%- include ../partials/header.ejs %>

<div class="interior-page" id="add-ticket-client">
    <section>
        <div class="container">
            <form method="post" action="/incident/add">
                <h2><%= title %></h2>
                <fieldset class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="title" required>
                </fieldset>
                <fieldset class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description" placeholder="description" required></textarea>
                </fieldset>
                </fieldset>
                <fieldset class="form-group">
                    <div class="checkbox">
                        <input type="checkbox" name="isUrgent" id="isUrgent"> Is this ticket urgent?
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-primary">Submit Ticket</button>
            </form>
    
        </div>
    </section>
</div>

<%- include ../partials/footer.ejs %>