<!--
Anthony Scinocco, Alex Andriishyn, Dan Masci, David Yu
incident-management.azurewebsites.net
November 23, 2015
login page view
-->

<%- include ./partials/header.ejs %>
<!--causing 404, url does lead to any folder that exists-->
<!--<div class="interior-header" style="background-image: url(../images/slide4.jpg)">-->
</div><!-- interior-header -->
<div class="interior-page" id="login-page">
	<div class="container">
		<!-- Display flash messages  -->
		<form method="post">
			<% if (messages.length > 0) { %><div class="message"><span><%= messages %></span></div><% } %>
			<h2>Login</h2>
			<fieldset class="form-group">
				<!--<label for="username">Username</label>-->
				<input id="username" class="form-control" name="username" type="text" placeholder="Username" autofocus required>
			</fieldset>
			<fieldset class="form-group">
				<!--<label for="password">Password</label>-->
				<input id="password" class="form-control" name="password" type="password" placeholder="Password" required>
			</fieldset>
			<button type="submit" class="btn btn-primary">Login</button>
		</form>
	</div><!-- container -->
</div><!-- #login-page -->
<%- include ./partials/footer.ejs %>
