<!--
Authors : Anthony Scinocco, Alex Andriishyn, Dan Masci, David Yu
Website : incident-management.azurewebsites.net
Last Updated : December 2nd, 2015 by Alex

File : login.ejs
Description : This is our login view. This acts as the HOME PAGE. 
			  It provides Users with a form to input their username
			  and password.
-->


<%- include ./partials/header.ejs %>

<div class="interior-page" id="login-page">
	<div class="container">
		<!-- Display flash messages  -->
		<form method="post">
			<% if (messages.length > 0) { %><div class="message"><span><%= messages %></span></div><% } %>
			<h2>Login</h2>
			<fieldset class="form-group">
				<!--<label for="username">Username</label>-->
				<input id="username" class="form-control" name="username" type="text" placeholder="Username" autofocus required>
			</fieldset>
			<fieldset class="form-group">
				<!--<label for="password">Password</label>-->
				<input id="password" class="form-control" name="password" type="password" placeholder="Password" required>
			</fieldset>
			<button type="submit" class="btn btn-primary">Login</button>
		</form>
	</div><!-- container -->
</div><!-- #login-page -->

<%- include ./partials/footer.ejs %>
